.site-header {
    position: relative;
    padding: 24px 0;
}

.header-sun {
	position: absolute;
	top: -88px;
	right: -60px;
}

.site-header-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: inline-flex;

    li {
        display: inline-flex;
    }

    a:not(.button) {
        @include font-size(7, mobile, true, true, true);
        @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
            @include media( '>medium' ) {
                @include font-size(7, desktop, true, true, true);
            }
        }
        @include font-weight(bold);
        @include anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

.auth-container {
    font-size: 16px;
    z-index: 1;
}

.auth-container img {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 1000;
    min-width: 100px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(16,31,59,0.08);
}

.user-dropdown.is-active {
    display: block;
    -webkit-animation: slideUpIn .15s ease-in-out both;
    animation: slideUpIn .15s ease-in-out both;
}

.user-links {
    list-style: none;
    margin: 0;
    padding: 8px 16px;
}

@include media( '>medium' ) {

	.header-sun {
		left: 440px;
		right: auto;
	}
}

@include media( '>large' ) {

	.header-sun {
		left: auto;
		right: 43%;
	}
}
